@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
h2 {
  color: #051094
}
input {
  box-sizing: border-box;
}
#button {
  background-color: #051094;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  width: 60px;
  height: 40px;
}
#button:focus, 
#button:hover {
  background-color: black;
  cursor: pointer;
}
#texto {
  padding: 12px;
  border: 1px solid rgba(128, 128, 128, 0.473);
  border-radius: 5px;
  margin-top: 17px;
}
#texto:focus,
#texto:hover {
  outline: none;
  border: 1px solid #051094;
}
#texto:active {
  cursor: pointer;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 270px;

  transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px){
  #button {
    margin-top: 10px;
    width: 195px;
  }
  h1, h2 {
    font-size: 1.6rem;
  }
}